.idea
my_env/.idea
my_env/Lib
my_env/Scripts

env/.idea
env/bookmarks/Include/*
env/bookmarks/Lib/*
env/bookmarks/Scripts/*
env/bookmarks/.idea
env/bookmarks/bookmarks/cert.crt
env/bookmarks/bookmarks/cert.key
env/bookmarks/bookmarks/media/*
env/bookmarks/bookmarks/media/
env/bookmarks/bookmarks/media
